//--- VARIABLES
//---------------------------------------------------------

- var siteNameFront = "SSO"
- var siteNameBack = "Login"
- var siteName      = siteNameFront + " " + siteNameBack
- var theme = "common"