//--- INCLUDES
//---------------------------------------------------------

//--- foundation
include _foundation.jade

//-- patterns
include patterns/general-content.jade
include patterns/_global-footer.jade
