//--- *************** ---//
//--- GLOBAL FOOTER ---//
//--- *************** ---//

- var name = "Global Footer"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  :markdown
    A container that serves global footer content.

mixin usage
  :markdown
    #### Using Jade:
  pre
    code.language-jade
      | +global_footer()


mixin output
  +global_footer()

//--- MIXINX ---//
//---------------------------------------------------------

mixin global_footer

  aside.gef-footer-global.uk-width-1-1

    h1.show-on-sr
      | #{corporateName}

    div.uk-container.uk-container-center

      div.gef-footer-global__inner.uk-grid.uk-grid-small

        div.gef-footer-global__inner__wrapper.uk-width-large-3-5

          nav.uk-grid.uk-grid-small

            h2.show-on-sr
              | Copyright, privacy and accessibility

            div.uk-width-large-1-3

            div.uk-width-large-1-3

              ul.uk-list
                li
                  a(href="#") Accessibility
                li
                  a(href="#") Information access
                li
                  a(href="#") Privacy

            div.uk-width-large-1-3

              ul.uk-list
                li
                  a(href="#") Copyright
                li
                  a(href="#") Department contacts
                li
                  a(href="#") NSW Government

        div.gef-footer-global__inner__logo.uk-width-large-2-5

          +gef_corporate_logo
