//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  main.uk-container

    div.uk-grid.uk-grid-collapse

      div.uk-width-large-1-1

        div.uk-width-large-1-1.uk-margin-large-top

          h1.uk-margin-large-top
            | SSO Login : #{pageName}

          h2.uk-h3 SSO Templates

          ul
            li
              a(href="sso-default.html") SSO Default

            li
              a(href="sso-error.html") SSO Error

            li
              a(href="sso-timeout.html") SSO Timeout

            li
              a(href="sso-logout.html") SSO Logout

              li
                a(href="sso-logout-confirmation.html") SSO Logout confirmation

            li
              a(href="sso-reset.html") SSO Reset Password

            li
              a(href="sso-content.html") SSO Content

  </body>
