//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Logout"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +global_header

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | You have been partially logged out of the system

              p [internal] To fully end your session, close every browser window AND log off from your user account on this desktop/laptop.
                
              p [external] To fully end your session, close every browser window.
                
              p [mobile] Your session might not be fully closed. It is not advisable to share your device with others.


              p
                a(href="#")
                  | Log in again

              hr

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE Staff
                a(href="#")
                  | Help for TAFE Students

  +global_footer

  include assets/jade/_scripts.jade
