//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Reset"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +global_header

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | Reset password

                a.sso-more-info(href="#")
                  span.uk-icon-question-circle
                  span.show-on-sr
                    | More Info

              form.uk-form
                p.uk-margin-remove
                  | To reset your password, enter your username:


                label.show-on-sr(for="username")
                  | Username
                input.uk-width-medium-6-10.uk-margin-top(type="text", id="username", name="username", placeholder="Username (e.g. jane.citizen)")

                input.uk-button.uk-margin-top(type="submit", value="Continue")

              p
                a(href="#")
                  | Return to log in screen

              hr

              p
                | Have trouble logging in?

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE Staff
                a(href="#")
                  | Help for TAFE Students

  +global_footer

  include assets/jade/_scripts.jade
