//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard align-top">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard align-top">
  <!--<![endif]-->

  +global_header

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container

              a(href="#")
                | Return to login screen

              h1.uk-h6.uk-margin-large-top
                | Reset you password

              p
                | To reset your DoE password, you will be asked your Secret Questions. If you have not created your Secret Questions, please&nbsp;
                a(href="#")
                  | contact your Help Desk.

              hr

              p
                strong
                  | Step 1:

              p
                +lipsum(25, "words")

              hr

              p
                small
                  | Last updated 5th February 2013

              a(href="#")
                | Return to login screen

              h1.uk-h6.uk-margin-large-top
                | Reset you password

              p
                | To reset your DoE password, you will be asked your Secret Questions. If you have not created your Secret Questions, please&nbsp;
                a(href="#")
                  | contact your Help Desk.

              hr

              p
                strong
                  | Step 1:

              p
                +lipsum(25, "words")

              hr

              p
                small
                  | Last updated 5th February 2013

              a(href="#")
                | Return to login screen

              h1.uk-h6.uk-margin-large-top
                | Reset you password

              p
                | To reset your DoE password, you will be asked your Secret Questions. If you have not created your Secret Questions, please&nbsp;
                a(href="#")
                  | contact your Help Desk.

              hr

              p
                strong
                  | Step 1:

              p
                +lipsum(25, "words")

              hr

              p
                small
                  | Last updated 5th February 2013

  +global_footer

  include assets/jade/_scripts.jade
