//--- INCLUDES
//---------------------------------------------------------

include assets/jade/site.jade

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Logout"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +global_header

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | What would you like to do?
                
              p
                a(href="#") Logout completelty 
                
              p Logging out will log you off this application, the DoE Portal and other<sup>*</sup> applications you have opened
              
              p
                small * This does not apply to applications that do not use the DoE Portal logon.
              
              p 
                strong or
              
              p
                a(href="#") Continue to portal
                  
              p You will be closing this application and taken to your portal so you can access other services.

              hr

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE Staff
                a(href="#")
                  | Help for TAFE Students

  +global_footer

  include assets/jade/_scripts.jade
