// ----------------------
// VARIABLES & MIXINS
// ----------------------

@import "foundation";

// ----------------------
// SITE VARIABLES & MIXINS
// ----------------------

$sso-colour-link: $gef-brand-primary-2;
$sso-colour-link: rgb(10, 124, 185);
$sso-colour-link-hover: darken($sso-colour-link, 10%);

// ----------------------
// SITE STYLES
// ----------------------


a,
a:visited {

  .gef-main & {
    font-weight: 400;
    color: $sso-colour-link;
    font-size: 0.9rem;
  }
}

p {
  font-size: 0.9rem;
}

.uk-button {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $sso-colour-link;
  text-transform: none;
  min-width: 0;
  width: 120px;
  color: #fff !important;
  border-radius: 3px !important;
  box-shadow: none;
  padding: 0 20px;
  min-height: 40px;

  &:hover {
    background-color: $sso-colour-link-hover;
  }
}

.uk-form {

  input[type="text"],
  input[type="password"] {
    font-size: 1rem;
    border: 1px solid $gef-brand-mono-3;
    color: $gef-b;

    &:hover {
      border: 1px solid $sso-colour-link;
    }

    &:focus {
      background-color: #fff;
      border: 1px solid $sso-colour-link;
      box-shadow: 0px 0px 3px 1px $sso-colour-link;
      color: $gef-b;
    }
  }
}

.gef-main {
  padding-bottom: 0;
}

.sso-block {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}

.sso-error {
  color: #B41C1C;
  font-size: 0.9rem;
}

.sso-more-info {
  font-size: 1.7rem !important;
  vertical-align: middle;
  margin-left: 10px;
}

.sso-links {
  a {
    display: block;
    margin-bottom: 0.5em;
  }
}

.gef-ie9 {
  .sso-container {
    float: none;
  }
}

@media #{$gef-mq-md} {

  .sso-links {

    a {
      display: inline-block;

      &:first-child {
        margin-right: 2em;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 960px) and (min-height: 720px) {

  html {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    position: relative;

    &.align-top {
      height: auto;
    }
  }

  .gef-header-global {
    position: absolute;
    top: 0;
    left: 0;

    .align-top & {
      position: relative;
    }
  }

  .gef-footer-global {
    position: absolute;
    bottom: 0;

    .align-top & {
      position: relative;
    }
  }

  .sso-main {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .sso-container {
    display: block;
    position: absolute;
    left: 50%;
    height: 100%;
    width: 900px;
    margin: 0 auto !important;
    padding: 56px 0 168px;
    transform: translate(-50%, 0);

    .align-top & {
      height: auto;
      width: 100%;
      max-width: none;
      position: static;
      padding: 0;
      transform: translate(0, 0);
    }
  }

  .sso-block {
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);

    .align-top & {
      top: auto;
      left: auto;
      margin: 50px auto;
      transform: translate(0, 0);
    }
  }
}
